conn:
  discord: "DISCORD TOKEN HERE"
  cevioToken: "CEVIGO TOKEN HERE"
  cevioEndPoint: "example.com:10443"
  db:
    name: "mysql"
    addr: "db address"
    port: 3306
    user: "mysql"
    password: "DB PASSWORD"
    protocol: "tcp"

