name: build pb proto to go code
defaults:
  run:
    working-directory: ./
on:
  push:
    paths:
      - 'proto/*'
      - '.github/workflows/build-proto.yaml'
      - 'Makefile'
      - 'spec/*'
    branches-ignore:
      - main
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v6

      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: 1.25

      - name: add path
        run: |-
          echo "$RUNNER_TEMP/protoc/bin" >> $GITHUB_PATH
          echo "$(go env GOPATH)/bin" >> $GITHUB_PATH

      - name: build PB
        env:
          ProtocVer: 21.4
        run: |
          curl -L https://github.com/protocolbuffers/protobuf/releases/download/v$ProtocVer/protoc-$ProtocVer-linux-x86_64.zip -o $RUNNER_TEMP/protoc.zip
          unzip -d $RUNNER_TEMP/protoc $RUNNER_TEMP/protoc.zip
          go install google.golang.org/protobuf/cmd/protoc-gen-go@v1.28
          go install google.golang.org/grpc/cmd/protoc-gen-go-grpc@v1.2
          
          mkdir -p $GITHUB_WORKSPACE/spec
          make pb
      - uses: EndBug/add-and-commit@v9